<div class="card">
    <div class="card-header card-header-primary">
        <h4>{{ title|default('title') }}</h4>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="form-group">
            <label>Nom de la catégorie</label>
            {{ form_widget(form.name) }}
        </div>
        <div class="card-footer">
            <button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
            <a href="{{ path('category_index') }}" class="btn btn-primary">Retour</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
