<div class="page-header header-filter" filter-color="purple" style="background-image: url('{{ asset('assets/img/bg7.jpg') }}'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="card">
            <div class="header header-primary text-center">
                <h4 class="card-title">Modifier le mot de passe</h4>
            </div>
            {{ form_start(form) }}
            <div class="card-content">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            <h1 class="text-primary font-weight-bold text-center">{{ user.username }}</h1>
                            <hr>
                            <div class="form-group">
                                <h4 class="text-primary">Ancien mot de passe</h4>
                                {{ form_widget(form.oldPassword) }}
                            </div>
                            <div class="form-group">
                                <h4 class="text-primary">Nouveau mot de passe</h4>
                                {{ form_widget(form.plainPassword.first) }}
                            </div>
                            <div class="form-group">
                                <h4 class="text-primary">Retaper le nouveau mot de passe</h4>
                                {{ form_widget(form.plainPassword.second) }}
                            </div>
                            <button type="submit" class="btn btn-primary">Confirmer la modification</button>
                            <a href="{{ path('blogspot_profile') }}"><button type="button" class="btn btn-secondary">Retour au profil</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>