<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">{{ title|default('title') }}</h4>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Mot de passe</label>
                    {{ form_widget(form.plainPassword.first) }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Retaper mot de passe</label>
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
            <a class="btn btn-primary" href="{{ path('user_index') }}">Retour</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
